# configurations that shouldn't be copied between machines
# these might involve security concerns, or they might just be something I don't understand
/config/Mousepad/*
/config/Slack/*
/config/Unknown Organization/*
/config/bash/local_config/*
/config/bash/sourcing/*
/config/chromium/*
/config/configstore/*
/config/dconf/*
/config/libaccounts-glib/*
/config/menus/*
/config/mimeapps.list
/config/mpd/*
/config/pulse/*
/config/thefuck/*
/config/Thunar/*
/config/user-dirs.*
/config/zoomus.conf

# configurations that should be whitelisted
/config/mpd/mpd.conf

# things from vim that shouldn't be checked in
/vim/.caches/*/*
/vim/.netrwhist

# seems unnecessary
__pycache__/

# gitkeep files should always be kept to preserve directory structures
!.gitkeep

