[submodule "vim/pack/third_party/start/vim-surround"]
	path = vim/pack/third_party/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/pack/third_party/start/blueshirts-darcula"]
	path = vim/pack/third_party/start/blueshirts-darcula
	url = git@github.com:blueshirts/darcula.git
[submodule "vim/pack/third_party/opt/Colorizer.git"]
	path = vim/pack/third_party/opt/Colorizer.git
	url = git@github.com:chrisbra/Colorizer.git
[submodule "vim/pack/third_party/start/rust.vim"]
	path = vim/pack/third_party/opt/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
[submodule "vim/pack/third_party/opt/jedi-vim"]
	path = vim/pack/third_party/opt/jedi-vim
	url = git@github.com:davidhalter/jedi-vim.git
