[submodule "vim/pack/third_party/start/vim-surround"]
	path = vim/pack/third_party/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/pack/third_party/opt/blueshirts-darcula"]
	path = vim/pack/third_party/opt/blueshirts-darcula
	url = git@github.com:blueshirts/darcula.git
[submodule "vim/pack/third_party/opt/Colorizer.git"]
	path = vim/pack/third_party/opt/Colorizer.git
	url = git@github.com:chrisbra/Colorizer.git
[submodule "vim/pack/third_party/start/vim-commentary"]
	path = vim/pack/third_party/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "vim/pack/third_party/start/scalpel"]
	path = vim/pack/third_party/start/scalpel
	url = git@github.com:wincent/scalpel.git
[submodule "vim/pack/third_party/start/coc.nvim"]
	path = vim/pack/third_party/start/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
