# fuck you finder
.DS_STORE

# homebrew's lock file actually isn't that useful
**/Brewfile*.lock.json

# configs may contain sensitive information and must be whitelisted here
/config/*
!/config/emacs
!/config/alacritty
!/config/git
!/config/nvim
!/config/ripgrep
/config/emacs/*/**/*
/config/nvim/.netrwhist
/config/nvim/spell

# shell/hidden is where system-specific sourcing is placed and often contains
# sensitive information
/shell/hidden/**/*

# gitkeep files exist to preserve directory structure, even when the underlying
# directory contains things that shouldn't be checked in
!.gitkeep
