/* hide main tabs toolbar */
#TabsToolbar {
    visibility: collapse !important;
}

/* remove sidebar max and min width */
#sidebar {
    max-width: none !important;
    min-width: 0px !important;
}

