# Ignore everything in this directory except this file and README
# This directory exists only for holding backup files for vim and weird things happen when the directory doesn't exist
*
!.gitignore
!README.md
